{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "esmodules": true
          },
          "exclude": [
            "@babel/plugin-transform-async-to-generator",
            "@babel/plugin-transform-regenerator"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "formatjs",
      {
        "idInterpolationPattern": "[sha512:contenthash:base64:6]",
        "ast": false
      }
    ]
  ]
}
